html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* App Layout Styling */
.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Map Styling */
.map-wrapper {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.map-container {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.ol-attribution a {
  color: #0077cc;
}

.ol-attribution a:hover {
  color: #0055aa;
  text-decoration: underline;
}

.ol-zoom {
  position: absolute;
  top: 10px;
  left: 10px;
}

.ol-overviewmap {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

.ol-scale-line {
  position: absolute;
  bottom: 10px;
  left: 170px;
  z-index: 9;
}

/* Base Layer Selector Styling */
.base-layer-selector {
  position: absolute;
  bottom: 20px;
  right: 5px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 5px;
  background: transparent;
  opacity: 1;
  padding: 8px;
}

.base-layer-selector button {
  background: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  color: black;
  text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white,
    -1px 1px 0 white;
  font-weight: 500;
  flex-grow: 1;
  width: 100px;
  height: 100%;
  border: none;
  cursor: pointer;
}

.base-layer-selector button:hover {
  filter: brightness(0.9);
}

/* Geolocation Button Styling */
.geolocation-button {
  position: absolute;
  top: 12px;
  left: 50px;
  height: 45px;
  width: 45px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.geolocation-button img {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
}

.geolocation-button:hover img {
  filter: brightness(0.9) drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
}

/* Date Picker Styling */
.date-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  background: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10002;
}

.date-picker {
  background-color: #007bff;
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 10;
  padding: 5px;
  border-radius: 5px;
}

.date-picker input {
  cursor: pointer;
}

.date-picker input[type="date"] {
  background-color: #006de1;
  border: none;
  box-shadow: none;
  outline: none;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.date-picker input[type="date"]:hover {
  background-color: #0053ab;
}

.date-picker-button {
  background: #007bff;
  height: 30px;
  width: 30px;
  padding: 0px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border: none;
}

.date-picker-button:not([disabled]):hover {
  background: #0053ab;
}

.date-picker-button svg {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

.query-overlay {
  width: 200px;
  font-size: 11px;
  position: absolute;
  background: white;
  color: black;
  padding: 0.75em 1em;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  overflow: y;
  word-wrap: break-word;
  opacity: 0.9;
  transform: translateX(-50%);
  margin-bottom: 15px;
}

.query-overlay::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.query-overlay-close-button {
  position: absolute;
  top: 6px;
  right: 6px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.query-overlay-close-button:hover {
  background-color: #eeeeee;
  color: white;
}

.query-overlay-feature-info {
  padding: 1em;
}

/* Sidebar Styling*/
.layer-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: #007bff;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 15px;
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.layer-sidebar.closed {
  transform: translateX(100%);
}

.layer-sidebar-toggle-button {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 4px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.7em;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1001;
}

.layer-sidebar-toggle-button:hover {
  background-color: #0072ec;
}

.layer-sidebar-toggle-button.open {
  background-color: #0053ab;
}

.layer-sidebar.closed + .sidebar-toggle-button {
  right: 10px;
}

/* Layer list Styling */
.layer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layer-item-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
}

.layer-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: #f9f9f9;
  border: none;
}

.layer-item:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}

.layer-item span {
  font-size: 1.2em;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.zoom-to-layer-button {
  display: flex;
  flex-direction: row;
  background: #f9f9f9;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
  margin-left: 1.5px;
}

.zoom-to-layer-button:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}

.layer-item input {
  transform: scale(1.2);
}

.layer-iteminput[type="checkbox"]:not(:checked) {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  position: relative;
}

/* Legend Sidebar Styling */
.legend-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: #0072ec;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 15px;
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 999;
  color: white;
}

.legend-sidebar.closed {
  transform: translateX(100%);
}

.legend-sidebar.shifted {
  transform: translateX(-100%);
}

.legend-sidebar-toggle-button {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 5px;
  right: 65px;
  padding: 4px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.7em;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1001;
}

.legend-sidebar-toggle-button:hover {
  background-color: #0072ec;
}

.legend-sidebar-toggle-button.open {
  background-color: #0053ab;
}

.legend-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.legend-item {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.legend-item h4 {
  margin: 0 0 10px 0;
  font-size: 1.1em;
  color: #333;
}

.legend-item img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Threshold Config Sidebar Styling*/
.threshold-config-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: #006de1;
  color: white;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 15px;
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 998;
}

.threshold-config-sidebar.closed {
  transform: translateX(100%);
}

.threshold-config-sidebar.shifted-1 {
  transform: translateX(-100%);
}

.threshold-config-sidebar.shifted-2 {
  transform: translateX(-200%);
}

.threshold-config-sidebar-toggle-button {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 5px;
  right: 153px;
  padding: 4px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.7em;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1001;
}

.threshold-config-sidebar-toggle-button:hover {
  background-color: #0072ec;
}

.threshold-config-sidebar-toggle-button.open {
  background-color: #0053ab;
}

.threshold-config-sidebar h2 {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-bottom: 15px;
}

.threshold-config-sidebar p {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.threshold-config-sidebar label {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-bottom: 8px;
  display: block;
}

.threshold-config-sidebar select {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 16px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.threshold-config-sidebar select:focus {
  border-color: #007bff;
  outline: none;
}

.threshold-config-sidebar select option {
  padding: 8px;
}

.threshold-config-sidebar select option:hover {
  background-color: #f1f1f1;
}

.range-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: white;
  border-radius: 5px;
  transition: background 0.3s;
}

.range-value {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
