html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.ol-zoom {
  position: absolute;
  top: 10px;
  left: 10px;
}

.ol-overviewmap {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

.ol-scale-line {
  position: absolute;
  bottom: 10px;
  left: 170px;
  z-index: 9;
}

/* Base Layer Selector Styling */
.base-layer-selector {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 5px;
  background: transparent;
  opacity: 1;
  padding: 8px;
}

.base-layer-selector button {
  background: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  color: black;
  text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white,
    -1px 1px 0 white;
  font-weight: 500;
  flex-grow: 1;
  width: 100px;
  height: 100%;
  border: none;
  cursor: pointer;
}

.base-layer-selector button:hover {
  border-color: black;
}

/* Sidebar Styling*/
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background: white;
  box-shadow: -1px 1 5px rgba(0, 0, 0, 0.3);
  padding: 15px;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.closed {
  transform: translateX(100%);
}

.sidebar-toggle-button {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  z-index: 1001;
}

.sidebar.closed + .sidebar-toggle-button {
  right: 10px;
}

/* Layer list Styling */
.layer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.layer-item span {
  font-size: 1.2em;
  color: black;
}

.layer-item input {
  transform: scale(1.2);
}

.layer-iteminput[type="checkbox"]:not(:checked) {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  position: relative;
}

/* Geolocation Button Styling */
.geolocation-button {
  position: absolute;
  top: 12px;
  left: 50px;
  height: 45px;
  width: 45px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.geolocation-button img {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
}

/* Date Picker Styling */
.date-picker {
  background-color: white;
  display: flex;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
  align-items: center;
  z-index: 10;
  padding: 5px;
  border-radius: 5px;
}

.date-picker input {
  cursor: pointer;
}

.date-picker-button {
  background: black;
  height: 20px;
  width: 40px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.overlay {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  position: absolute;
  z-index: 1000;
}

.overlay-content {
  padding: 20px;
  background-color: white;
  color: black;
}

.overlay-header {
  cursor: grab;
  background: #007bff;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.overlay-close-button {
  position: fixed;
  top: 10px;
  right: 10px;
  border: none;
  background: #e74c3c;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.overlay-resize-handle {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: se-resize;
  background-color: rgba(0, 0, 0, 0.2);
}
